# Generated

from fabric.operations import put
from fabric.api import env
import os
import utils

env.key_filename = '{{ private_key }}'
env.user = '{{ user }}'
env.hosts = [{{ hosts|wrap_quotes(',', attribute='private_ip_address') }}]
env.connection_attempts = 3
env.command_timeout = 900


def rewrite_etc_hosts():
    filename = os.path.join('{{ automator_folder }}', 'hosts')
    put(filename, '/etc/hosts', use_sudo=True)


def check_hosts_availability():
    utils.wait_until_ssh_available(env.host, env.user, env.key_filename)
