# Generated

127.0.0.1 localhost

{% for host in hosts -%}
{{ host.private_ip_address }} {{ host.private_dns_name.split('.')[0] }} {{ host.private_dns_name }}
{% endfor -%}

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
