# Generated
# Environment description file
environment: ubuntu
hadoop_distr: cdh5.3.5
# path to LeanXcale HTAP distribution
lx_distr_dir: /home/{{ user }}/leanxcale-distribution/
rs_mem: 512
#Machine configs and credentials
machine_properties:
    default:
        username: {{ user }}
        home: /home/{{ user }}/
        #path to private key to be used
        pkey: {{ private_key }}
        #directory where LeanXcale HTAP will be instaled
        install_dir: /home/{{ user }}/LX-HTAP/
        #folder where data is stored in the target machine
        data_dir: /home/{{ user }}/LX-HTAP/
        net_device: eth0
components :
    {{ hosts.pop().private_ip_address }}:
        - zookeeper
        - hdfs_namenode
        - tm_configman
        - tm_snapserver
        - tm_csserver
        - tm_conflictman
        - monitor_server
        - monitor_agent
        - hbase_master
    {% for host in hosts -%}
      {{ host.private_ip_address -}}:
        - hdfs_datanode
        - monitor_agent
        - hbase_regionserver
        - query_engine
    {% endfor %}
